<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MQTT_Host" value="127.0.0.1" />
    <add key="MQTT_Port" value="1883" />
    <add key="MQTT_RootTopic" value="nukibridge" />
    <add key="Bridge_Callback_Port" value="8080" />
    <add key="Bridge_URL" value="" />
    <add key="Bridge_Token" value="" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>