<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Address of your MQTT broker-->
    <add key="MQTT_Host" value="127.0.0.1" />
    <!-- Port of your MQTT broker (1883 if left empty)-->
    <add key="MQTT_Port" value="" />
    <!-- Root topic for MQTT messages (nukibridge when left empty -->
    <add key="MQTT_RootTopic" value="" />
    <!-- IP Address for the Nuki Bridge callbacks (leave empty for auto detection) -->
    <add key="Bridge_Callback_Address" value="" />
    <!-- Port for the Nuki Bridge callbacks (8080 when left empty) -->
    <add key="Bridge_Callback_Port" value="" />
    <!-- Url of your bridge (http://xxx.xxx.xxx:port) -->
    <add key="Bridge_URL" value="" />
    <!-- Token to utilize the Nuki Bridge API -->
    <add key="Bridge_Token" value="" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>