<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!-- Address of your MQTT broker-->
    <add key="MQTT_Host" value="127.0.0.1" />
    <!-- Port of your MQTT broker (1883 if left empty)-->
    <add key="MQTT_Port" value="" />
    <!-- Root topic for MQTT messages (nukibridge when left empty) -->
    <add key="MQTT_RootTopic" value="" />
    <!-- IP Address for the Nuki Bridge callbacks (leave empty for auto detection) -->
    <add key="Bridge_Callback_Address" value="" />
    <!-- Port for the Nuki Bridge callbacks (8080 when left empty) -->
    <add key="Bridge_Callback_Port" value="" />
    <!-- Url of your bridge (http://xxx.xxx.xxx:port) -->
    <add key="Bridge_URL" value="http://192.168.1.10:8080" />
    <!-- Token to utilize the Nuki Bridge API -->
    <add key="Bridge_Token" value="" />
    <!-- Use hashed token instead of plain token (true when left empty) -->
    <add key="Bridge_HashToken" value=""/>
  </appSettings>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="console" />
      <appender-ref ref="file" />
    </root>
    <appender name="console" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-5level] %message%newline" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="Net.Bluewalk.NukiBridge2Mqtt.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-yyyyMMdd"/>
      <maxSizeRollBackups value="7" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-5level] %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>